---
---

<section
  class="h-fit bg-[#d1d5db5b] bg-[url('/textures/lines.svg')] bg-cover"
  id="about"
>
  <div class="mx-auto max-w-7xl">
    <div
      class="flex w-full flex-wrap items-center justify-around px-10 pt-20 xl:py-0"
    >
      <div class="flex flex-col gap-8">
        <h1 class="text-5xl">Ajudando moradores das <br /> ilhas de belém</h1>
        <span>
          Vamos ajudar as comunidades locais, contribuindo
          <br />
          para a geração de renda, o fortalecimento da economia local e a
          <br />
          preservação cultural e ambiental da região.
        </span>
        <ul class="grid gap-3">
          <li class="flex items-center gap-2">
            <div class="aspect-square w-3 rounded-full bg-green-800"></div>
            <span class="text-gray-600">Desenvolvimento sustentável</span>
          </li>
          <li class="flex items-center gap-2">
            <div class="aspect-square w-3 rounded-full bg-green-800"></div>
            <span class="text-gray-600">Educação ambiental</span>
          </li>
          <li class="flex items-center gap-2">
            <div class="aspect-square w-3 rounded-full bg-green-800"></div>
            <span class="text-gray-600">Investimento local</span>
          </li>
          <li class="flex items-center gap-2">
            <div class="aspect-square w-3 rounded-full bg-green-800"></div>
            <span class="text-gray-600"
              >Visibilidade da cultura, natureza e empreendedorismo</span
            >
          </li>
        </ul>
      </div>
      <img
        src="/elements/beach.svg"
        alt="imagem de uma mulher em uma rede na praia"
        class="h-[500px]"
      />
    </div>
    <div
      class="flex w-full flex-wrap-reverse items-center justify-around px-10 py-20 xl:py-0"
    >
      <img
        src="/elements/leadership.svg"
        alt="imagem de uma mulher em uma rede na praia"
        class="h-[500px]"
      />
      <div class="flex flex-col gap-8">
        <h1 class="text-5xl">
          Atribuindo identidade às <br /> comunidades das Ilhas
        </h1>
        <span>
          Apoiar a identidade das comunidades das Ilhas de Belém do Pará
          significa
          <br />
          valorizar sua cultura, seus produtos únicos e proteger sua natureza. Com
          <br />
          esses esforços, podemos ajudar a preservar a rica história e o patrimônio
          <br />
          cultural das ilhas e garantir um futuro sustentável para as comunidades
          <br />
          locais.
        </span>
      </div>
    </div>
  </div>
</section>
