---
import { Icon } from 'astro-icon';
---

<footer
  class="relative flex h-fit w-full flex-col items-center justify-center gap-2 bg-[url('/textures/charcoal.webp')] bg-cover py-32"
>
  <img src="/logos/eco-rota.svg" alt="Logo EcoRota" width="184" height="150" />
  <div class="flex gap-2">
    <a href="https://www.instagram.com/ecorota.pa/">
      <Icon name="ph:instagram-logo" height={42} />
    </a>
    <a href="https://twitter.com/Eco_Rota">
      <Icon name="ph:twitter-logo" height={42} />
    </a>
    <a href="mailto:contato.ecorota@gmail.com">
      <Icon name="ph:google-logo" height={42} />
    </a>
    <a href="https://github.com/JoaoCardoso00/Eco-Rota">
      <Icon name="ph:github-logo" height={42} />
    </a>
  </div>
  <span class="absolute bottom-2">Feito com ❤️ pela equipe EcoRota</span>
</footer>
