---
---

<div class="mb-10 bg-transparent bg-center py-24 sm:py-32">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <h2 class="text-center text-2xl leading-8 text-gray-900">
      Parceiros que acreditam em nós
    </h2>
    <div
      class="mx-auto mt-10 grid max-w-lg grid-cols-4 items-center gap-x-8 gap-y-10 sm:max-w-xl sm:grid-cols-4 sm:gap-x-10 lg:mx-0 lg:max-w-none lg:grid-cols-4"
    >
      <img
        class="col-span-2 max-h-28 w-full object-contain sm:col-span-2 lg:col-span-1"
        src="/logos/Cria.png"
        alt="Cria Amazonia"
        width="250"
        height="48"
      />
      <img
        class="col-span-2 max-h-28 w-full object-contain sm:col-span-2 lg:col-span-1"
        src="/logos/Multiverse.png"
        alt="Multiverse"
        width="158"
        height="48"
      />
      <img
        class="col-span-2 max-h-28 w-full object-contain sm:col-span-2 lg:col-span-1"
        src="/logos/Zenith.png"
        alt="Tuple"
        width="158"
        height="48"
      />
      <img
        class="col-span-2 max-h-28 w-full object-contain sm:col-span-2 lg:col-span-1"
        src="/logos/parajas.svg"
        alt="Tuple"
        width="158"
        height="48"
      />
    </div>
  </div>
</div>
