---
import Testimonial from '../../components/testimonial.astro';
---

<section
  class="mx-auto flex h-fit max-w-7xl flex-col items-center gap-20 bg-[url('/textures/waves.svg')] bg-cover py-20"
>
  <h1 class="text-3xl">Relatos sobre a EcoRota</h1>
  <div class="flex w-full flex-wrap justify-around">
    <Testimonial
      quote="A EcoRota é interessante para fomentar a economia das ilhas, que mesmo à 1 quilômetro de distância, conhecemos tão pouco sobre as suas culturas."
      author="Profº Pedro Girotto"
    />
    <Testimonial
      quote="Adorei esta proposta, acho que precisa de fato profissionalizar o que hoje é uma iniciativa isolada, então ter um portal, sério e profissional, que mostre esses serviços e produtos da ilha é muito importante."
      author="Profª e Coordª Alessandra Natasha"
    />
    <Testimonial
      quote="A EcoRota pode mudar a perspectiva das ilhas, trazendo benefícios diretos aos moradores locais e oportunidades para novos negócios, gerando crescimento conjunto e vida em áreas negligenciadas."
      author="CEO da Zenith Gabriel Marcelino"
    />
  </div>
</section>
