---
import { Search } from '../../components/search';
---

<section
  class="mx-auto flex h-fit w-full max-w-7xl items-center justify-center gap-10 pt-16 pb-10"
>
  <div class="grid w-4/5 gap-6">
    <h1 class="text-center text-4xl">Venha viajar conosco!</h1>
    <Search />
  </div>
</section>
