---
import Document from '../../layouts/Document.astro';
---

<Document title="EcoRota">
  <div
    class="mx-auto mt-32 flex h-[480px] w-11/12 max-w-7xl flex-col items-center justify-center"
  >
    <h1 class="text-center text-4xl text-gray-800 xl:text-6xl">
      Obrigado por escolher a Eco Rota!
    </h1>
    <p class="mt-4 text-center text-base text-gray-500 xl:text-xl">
      Um email será enviado com o seu ingresso e informações sobre sua viagem.
    </p>
    <a href="/" class="mt-4 underline">Voltar a página inicial</a>
  </div>
</Document>
