---
type Props = {
  question: string;
  answer: string;
};

const { question, answer } = Astro.props;
---

<div class="flex flex-col gap-2 text-xl">
  <h2>{question}</h2>
  <p class="text-sm text-gray-400">
    {answer}
  </p>
</div>
