---
import { Icon } from 'astro-icon';

type Props = {
  author: string;
  quote: string;
};

const { author, quote } = Astro.props;
---

<div
  class="mx-2 my-2 flex w-96 flex-col items-center gap-6 rounded-md border border-gray-600 bg-white p-9"
>
  <Icon name="fa:quote-left" height={38} />
  <p>
    {quote}
  </p>
  <span class="mt-auto text-gray-600">{author}</span>
</div>
