---
import ButtonPrimary from '../components/button/ButtonPrimary.astro';
---

<section
  class="mx-auto flex h-fit w-full max-w-7xl flex-wrap items-center justify-center gap-10 py-32"
>
  <img src="/img/beach-couple.svg" alt="" class="h-[350px]" />
  <div class="mx-2 flex max-w-xl flex-col gap-10">
    <div class="flex flex-col gap-2">
      <h1 class="text-4xl">
        Viaje conosco e ajude as comunidades das ilhas de belém
      </h1>
      <span class="text-gray-400">
        Lorem ipsum dolor sit ametLorem ipsum dolor sit ametLorem ipsum dolor
        sit ametLorem ipsum dolor sit ametLorem ipsum dolor sit ametLorem ipsum
        dolor sit amet
      </span>
    </div>
    <div class="w-60">
      <ButtonPrimary text="Conheça nossos planos" />
    </div>
  </div>
</section>
<img src="/elements/divider.svg" alt="" />
