---
import Question from '../components/question.astro';
---

<section class="mx-auto flex w-full max-w-7xl flex-col gap-20 py-40 px-4">
  <div class="flex flex-col gap-4">
    <h1 class="text-5xl">Perguntas frequentes</h1>
    <span class="text-xl text-gray-400">
      Se você tem alguma pergunta, <a href="#" class="text-gray-600 underline"
        >entre em contato.</a
      >
    </span>
  </div>
  <div class="flex flex-col gap-10 md:grid md:grid-cols-3">
    <Question />
    <Question />
    <Question />
    <Question />
    <Question />
    <Question />
  </div>
</section>
