---
import Question from '../components/question.astro';
---

<section
  class="mx-auto flex w-full max-w-7xl flex-col gap-20 py-40 px-4"
  id="faq"
>
  <div class="flex flex-col gap-4">
    <h1 class="text-5xl">Perguntas frequentes</h1>
    <span class="text-xl text-gray-400">
      Se você tem alguma pergunta, <a href="#" class="text-gray-600 underline"
        >entre em contato.</a
      >
    </span>
  </div>
  <div class="flex flex-col gap-10 md:grid md:grid-cols-3">
    <Question
      question="O que fazer no dia da viagem?"
      answer="Compareça no Trapiche de Icoaraci (link pro maps ou uber sla), compre seu ticket de viagem a ilha de Cotijuba, chegue no horário escolhido para ter a Experiência EcoRota, membros do MMIB (link pro mmib) estarão esperando para recebe-lô."
    />
    <Question
      question='O que é a "Experiência EcoRota"?'
      answer="A Experiência EcoRota é a única experiência de ecoturismo comunitário na região do Pará que, enaltece a cultura das comunidades, atribui identidade aos produtos e serviços locais, e mostra os locais belos das ilhas."
    />
    <Question
      question="O que veremos em nossa viagem?"
      answer="Cada pacote de viagem é único devido à grande diversidade cultural e quantidade de pontos turísticos, porém todos irão ter pelo menos uma praia e serviços da ilha, como restaurantes e pousadas."
    />
    <Question
      question="Quais são os seus parceiros?"
      answer="Temos parcerias com serviços e associações locais, como o MMIB (Movimento Mulheres das Ilhas de Belém), que nos ajudam a trazer uma experiência incrível para nossos clientes"
    />
    <Question
      question="O que podemos fazer para ajudar?"
      answer="Temos várias formas de ser ajudados, mas as 2 formas mais simples e mais eficientes é através da reciclagem dos seus consumos na ilha e divulgando nas redes sociais a sua experiência EcoRota."
    />
    <Question
      question="Como vocês ajudam a ilha à se desenvolver?"
      answer="Todos os serviços e produtos que serão vendidos, são fornecidos e produzidos pelas famílias das ilhas visitadas."
    />
  </div>
</section>
