---
import { Icon } from 'astro-icon';
---

<footer
  class="relative flex h-fit w-full flex-col items-center justify-center gap-2 bg-[url('/textures/charcoal.webp')] bg-cover py-32"
>
  <img src="/logos/eco-rota.svg" alt="Logo EcoRota" width="160" height="150" />
  <div class="flex gap-2">
    <Icon name="ph:instagram-logo" height={42} />
    <Icon name="ph:twitter-logo" height={42} />
    <Icon name="ph:facebook-logo" height={42} />
    <Icon name="ph:github-logo" height={42} />
  </div>
  <span class="absolute bottom-2">© 2023 Panic. All rights reserved.</span>
</footer>
