---
import ButtonPrimary from "../components/button/ButtonPrimary.astro";
---

<section class="mx-auto mt-20 flex h-[480px] w-11/12 items-center justify-center">
  <div class="relative flex h-full w-full items-center">
    <div
      class="z-10 mb-12 flex h-fit w-fit flex-col items-center justify-center gap-8 sm:ml-24"
    >
      <div class="z-10 flex flex-col gap-8">
        <h1 class="text-5xl">
          Descubra a natureza em <br /> uma rota sustentável
        </h1>
        <span class="text-gray-600">
          Rota do Ecoturismo comunitário. <br /> Venha conhecer a cultura, natureza
          e produtos das <br /> ilhas de Belém em uma rota única e exótica.
        </span>
      </div>
      <div class="z-10 flex w-full items-center gap-2">
        <div class="w-52">
          <ButtonPrimary text="Conheça nossos pacotes" />
        </div>
        <div class="flex gap-1">
          <img src="/icons/MapPin.svg" alt="" class="h-6 w-6" />
          <span class="text-gray-600">Cotijuba</span>
        </div>
      </div>
      <img
        src="/img/bg-hero.svg"
        alt=""
        class="absolute right-0 left-0 bottom-0 top-0 hidden h-[550px] lg:block"
      />
      <img
        src="/img/bg-hero-small-screens.svg"
        alt=""
        class="absolute right-0 left-0 bottom-0 top-0 hidden h-[650px] sm:block lg:hidden"
      />
      <img
        src="/img/bg-hero-cellphone.svg"
        alt=""
        class="absolute right-0 left-0 bottom-0 top-0 h-[500px] w-full sm:hidden"
      />
    </div>
  </div>
</section>
