---
import Testimonial from '../components/testimonial.astro';
---

<section
  class="flex h-fit max-w-7xl flex-col items-center gap-20 bg-[url('/textures/waves.svg')] bg-cover py-20"
>
  <h1 class="text-3xl">Relatos dos clientes</h1>
  <div class="flex w-full flex-wrap justify-around">
    <Testimonial
      quote="Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minus commodi voluptas accusantium distinctio molestiae distinctio molestiae distinctio molestiae"
      author="Morador da ilha"
    />
    <Testimonial
      quote="Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minus commodi voluptas accusantium distinctio molestiae distinctio molestiae distinctio molestiae"
      author="Morador da ilha"
    />
    <Testimonial
      quote="Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minus commodi voluptas accusantium distinctio molestiae distinctio molestiae distinctio molestiae"
      author="Morador da ilha"
    />
  </div>
</section>
