---
import NavBar from '../components/nav/NavBar.astro';

type Props = {
  title: string;
  bg?: string;
};

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Fredoka+One&family=Fredoka:wght@300;400&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Fredoka:wght@300&family=Inter:wght@300;400;700&display=swap"
      rel="stylesheet"
    />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />

    <!-- Primary Meta Tags -->
    <meta name="title" content="Eco Rota" />
    <meta name="description" content="website" />
    <meta property="image" content="https://i.imgur.com/pmd5XDy.png" />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://www.ecorota.com/" />
    <meta property="og:title" content="Eco Rota" />
    <meta
      property="og:description"
      content="Venha conhecer a cultura, natureza e produtos das ilhas de Belém em uma rota única e exótica."
    />
    <meta property="og:image" content="https://i.imgur.com/VZTtRoq.png" />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="https://www.ecorota.com/" />
    <meta property="twitter:title" content="Eco Rota" />
    <meta
      property="twitter:description"
      content="Venha conhecer a cultura, natureza e produtos das ilhas de Belém em uma rota única e exótica."
    />
    <meta property="twitter:image" content="https://i.imgur.com/VZTtRoq.png" />

    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="min-h-screen bg-white">
    <NavBar />
    <slot />
  </body>
</html>
<style is:global>
  html {
    font-family: 'Fredoka One', sans-serif;
    scroll-behavior: smooth;
  }
  @media (prefers-reduced-motion: reduce) {
    :global(html) {
      scroll-behavior: auto;
    }
  }

  @media (max-width: 1080px) {
    html {
      font-size: 93.75%;
    }
  }

  @media (max-width: 720px) {
    html {
      font-size: 87.5%;
    }
  }
</style>
